html{
  animation-name: loading_html;
  animation-duration: 0.8s;
  background-image: url('images/854183.jpg');
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth;
}

body{
  animation-name: loading_body;
  animation-duration: 0.8s;
}

@keyframes loading_body {
  from {transform: scale(0); filter: blur(50px);}
  to {transform: scale(1); filter: blur(0px);}
}

@keyframes loading_html {
  from {transform: scale(2); filter: blur(10px);}
  to {transform: scale(1); filter: blur(0px);}
}

.news{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 20px;
}

.main_logo{
  position: absolute;
  animation-name: main_logo_animation;
  animation-duration: 1.5s;
  width: 156px;
  height: 156px;
  top: 10%;
  left: 45%;
  transition: 0.5s;
}

.main_logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@keyframes main_logo_animation {
  from {transform: scale(0); filter: blur(10px);}
  to {transform: scale(1); filter: blur(0px);}
}

ul {
  position: absolute;
  list-style-type: none;
  top: 30%;
  left: 25%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 20;
  box-shadow: 0px 0px 15px #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 13px 20px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-image: linear-gradient(to top, rgb(0, 183, 255) , rgb(0, 255, 200));
}

.active {
  background-image: linear-gradient(to top, rgb(0, 183, 255) , rgb(0, 255, 200));
}

ul {
  position: absolute;
  width: 50%;
}

.main_panel{
  position: absolute;
  width: 90%;
  height: 200%;
  top: 40%;
  left: 5%;
  background-image: linear-gradient(to top, rgb(0, 183, 255) , rgb(0, 255, 200));
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 8px #000000a8;
}

.member_panel{
  position: absolute;
  width: 30%;
  height: 40%;
  top: 1%;
  left: 68%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 10px 10px;
  /* box-shadow: 0px 0px 8px #000000a8; */
  border: solid 2.5px rgb(143, 143, 143);
}

body{
  overflow: overlay;
}

/* Aici este custom scrollbar-ul */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, rgb(0, 183, 255) , rgb(0, 255, 200));
  border-radius: 10px;
}

#myBtn {
  animation-name: scrollButton;
  animation-duration: 0.5s;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(49, 119, 146); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  box-shadow: 0px 0px 8px #000000a8;
  transition: 0.5s;
}

@keyframes scrollButton {
  from {transform: translateY(100px);}
  to {transform: translateY(1px);}
}

#myBtn:hover {
  transform: scale(1.1);
  background-color: rgb(37, 90, 238); /* Add a dark-grey background on hover */
}

/* Aici este messenger box-ul pentru comunicarea clientilor cu stafful */
.bottom-left {
  position: fixed;
  bottom: 8px;
  left: 16px;
  transition: 0.5s;
}

.bottom-left:hover{
  cursor: pointer;
  transform: rotate(-20deg);
}

.bottom-left-image{
  width: 64px;
  height: 64px;
  transition: 0.5s;
}

.bottom-left-image:hover{
  transform: scale(1.1);
}

/* Aici este gui-ul pentru message box */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}