html{
  animation-name: loading_html;
  animation-duration: 0.8s;
  background-image: url('images/854183.jpg');
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

body{
  animation-name: loading_body;
  animation-duration: 0.8s;
}

@keyframes loading_body {
  from {transform: scale(0); filter: blur(50px);}
  to {transform: scale(1); filter: blur(0px);}
}

@keyframes loading_html {
  from {transform: scale(2); filter: blur(10px);}
  to {transform: scale(1); filter: blur(0px);}
}

.news{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 20px;
}

.main_logo{
  animation-name: main_logo_animation;
  animation-duration: 1.5s;
  width: 156px;
  height: 156px;
  position: absolute;
  top: 80px;
  left: 550px;
}

@keyframes main_logo_animation {
  from {transform: scale(0); filter: blur(10px);}
  to {transform: scale(1); filter: blur(0px);}
}

ul {
  list-style-type: none;
  margin: 250;
  top: 5%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 20;
  left: 60px;
  box-shadow: 0px 0px 15px #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 13px 20px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-image: linear-gradient(to top, rgb(0, 183, 255) , rgb(0, 255, 200));
}

.active {
  background-image: linear-gradient(to top, rgb(0, 183, 255) , rgb(0, 255, 200));
}

ul {
  position: absolute;
  width: 50%;
}

.main_panel{
  position: absolute;
  width: 90%;
  height: 200%;
  top: 40%;
  left: 5%;
  background-image: linear-gradient(to top, rgb(0, 183, 255) , rgb(0, 255, 200));
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 8px #000000a8;
}

.member_panel{
  position: absolute;
  width: 30%;
  height: 40%;
  top: 1%;
  left: 68%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 10px 10px;
  /* box-shadow: 0px 0px 8px #000000a8; */
  border: solid 2.5px rgb(143, 143, 143);
}

body{
  overflow: overlay;
}

/* Aici este custom scrollbar-ul */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, rgb(0, 183, 255) , rgb(0, 255, 200));
  border-radius: 10px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(49, 119, 146); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  box-shadow: 0px 0px 8px #000000a8;
}

#myBtn:hover {
  background-color: rgb(37, 90, 238); /* Add a dark-grey background on hover */
}

.login{
  
}