html{
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

object{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 20;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 20;
    position: absolute;
    top: 70%;
    left: 42.3%;
    color: rgba(255, 255, 255, 0.158);
}

.dakota_main_loading{
    position: absolute;
    size: cover;
    top: 20%;
    left: 20%;
}