html{
    background-image: url('images/adi-goldstein-Hli3R6LKibo-unsplash.jpg');
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p1{
    font-weight: 300;
    font-size: 45;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    top: 35%;
    left: 25%;
}

p2{
    font-weight: 300;
    font-size: 45;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    top: 40%;
    left: 25%;
}

h1{
    font-weight: 300;
    font-size: 40;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    top: 25%;
    left: 25%;
}

div3{
    display: inline-block;
    background: #ffffff;
    min-height: 100px;
    height: 100px;
    box-shadow: 0px 0px 5px 5px #C9C9C9;
    -webkit-box-shadow: 2px 2px 5px 5x #C9C9C9;
    -moz-box-shadow: 2px 2px 5px 5px #C9C9C9;
    margin: 250px 450px;
    padding: 150px 500px;
}