html{
    animation-name: loading;
    animation-duration: 1.5s;
    background-image: url('../../images/tumblr_226484df357757565ded83f4155a58b2_b04a6978_1280.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div1{
    padding: 250px 450px;
    top: 50px;
}
  
@keyframes loading {
    from {filter: opacity(0%);}
    to {filter: opacity(100%); background-color: rgb(0, 0, 0);}
}

.testing{
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    background-image: linear-gradient(to top, rgb(0, 183, 255) , rgb(0, 255, 200));
    border-radius: 25px;
    box-shadow: 0px 0px 8px #757575;
  }
