html{
    animation-name: loading;
    animation-duration: 1.5s;
    background-image: url('../../images/tumblr_226484df357757565ded83f4155a58b2_b04a6978_1280.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
@keyframes loading {
    from {filter: opacity(0%);}
    to {filter: opacity(100%); background-color: rgb(0, 0, 0);}
}

div{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 850;
    font-size: 30;
    color: rgb(0, 0, 0);
    padding: 200;
}